@using Cars.Data.Models

@model Car
@{
    ViewData["Title"] = "Details";
}


<div>Make - @Model.Make.NameOfMake</div>
<div>Model - @Model.Model.NameOfModel</div>
<div>Price - @Model.Price</div>
<div>Engine - @Model.TypeOfEngine</div>
<div>GearBox - @Model.TypeOfGearbox</div>
<div>Year - @Model.YearOfBuilding</div>
<div>HorsePower - @Model.HorsePower</div>
<div>Category - @Model.Category</div>
<div>Description - @Model.Description</div>






